.#{
    font-family: font-family:'Nunito', sans-serif;
    font-size: 16px;
}

/*header*/

.bg-navcolor{
background-color: #000000;
height: 80px;
}
.logo-nav{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.nav-link{
    color: #ffffff;
}





/*main*/
.wrap-texto-bienvenida{
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../Media/modelo-img-fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.texto-bienvenida{
    text-align: center;
    color: #ffffff;
}
.videoweb-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-image: linear-gradient(to bottom, #16202A, #B8B8B8);
}
h4{
    text-align: center;
}
.lista-plan{
    list-style: none;
    list-style-type: none;
    text-align: center;
}


/*Log in*/
.main-login{
    padding: 0;
    margin: 0;
    background-image: url(../Media/modelo-img-fondo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.login-contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-image: linear-gradient(to top, darkgrey, grey);
    border-radius: 10px;
}
.login-contenedor h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #000000;
}


/*preguntas-frecuentes*/
.texto-PF{
    text-align: center;
    color: #ffffff;
}


/*planes entrenamieto*/
.main-PE{
    background-image: url(../Media/fondo-PE.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main-PE h1{
    text-align: center;
    padding: 50px 50px 50px 50px;
    color: #ffffff;
}
.card-img-top{
    border-radius: 50px;
    padding-top: 20px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
}


/*contacto*/
.main-contacto{
    padding: 0;
    margin: 0;
    background-image: url(../Media/BG-contacto.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.contacto-contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: url(../Media/BG-gradient-contacto.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.contacto-titulo{
    text-align: center;
    color: #ffffff;
}





/*footer*/
footer {
    background-color: #000000;
    height: 100px;
    text-align: center;
    color: #ffffff;
}
footer p a{
    color: #ffffff;
}