.bg-navcolor{
    background-color: #000000;
    height: 80px;
    }
    .logo-nav{
        border-radius: 100%;
        height: 50px;
        width: 50px;
    }
    .nav-link{
        color: #ffffff;
    }
    